---
---
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

$footer-height: 50px;

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: $footer-height;
}

footer {
  bottom: 0;
  color: #ccc;
  height: $footer-height;
  padding: 20px 0 5px;
  position: absolute;
  width: 100%;

  p {
    margin: 0;
  }

}

.navbar-default .navbar-brand {
  color: black;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #428bca;
  color: white;
}

.navbar-default .navbar-nav > li > a {
  color: black;
}

body {
  font-family: "Open Sans", "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
}

blockquote {
  font-size: 24px;
  font-weight: 100;
  letter-spacing: 1px;

  .big {
    font-size: 30px;
    font-weight: bold;
  }

}

p.level-with-blockquote {
  margin-top: 20px;
}

p.contact {
  text-align: center;
  i {
    transition: 0.5s;
  }
  a:hover {
    text-decoration: none;
    i {
      transform: rotate(360deg);
    }
  }
}

img {
  &.welcome {
    margin-bottom: 20px;
  }
  &.lms {
    height: 200px;
    margin: 40px auto;
    width: 200px;
  }
  &.lendal {
    height: 80px;
    margin: 40px auto;
    width: auto;
  }
}

sup {
  color: red;
}
