---
---
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
  font-family: "Open Sans", "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
}

blockquote {
  font-size: 24px;
  font-weight: 100;
  letter-spacing: 1px;

  .big {
    font-size: 30px;
    font-weight: bold;
  }

}

p.level-with-blockquote {
  margin-top: 20px;
}

img {
  &.welcome {
    margin-bottom: 20px;
  }
}

sup {
  color: red;
}

footer {
  color: #777;
  margin-top: 40px;
}